html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(114, 160, 238);
}

svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 30%;
  height: auto;
  fill: transparent;
  stroke-width: 3;
  stroke: white;
}

.wheel {
  stroke-dasharray: 150;
  stroke-dashoffset: 0;
  animation: wheel-goes-round 0.25s infinite linear;
}

@keyframes wheel-goes-round {
  0%   { stroke-dashoffset: 0; }
  100% { stroke-dashoffset: 300; }
}
